{{!-- Scroll Back to Top --}}
<a id="topScroll" class="animated fadeInRight" href="#home">
    <button class="btn btn-info">
        <i id="topScrollArrow" class="animated pulse infinite fas fa-arrow-up"></i>
    </button>
</a>