body {
    font-family: 'Open Sans', sans-serif;
}

.nav-item:hover {
    background-color: #eee;
}

footer {
    position: absolute;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

#dropdownMenuButton {
    cursor: pointer;
    padding: 10px;
}


table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

.current {
    color: blue !important;
    background: none !important;
    border: none !important;
}
td {
    font-size: 88%;
}
#btnDelete, #btnEdit {
    cursor: pointer;
}

#btnProcessing {
    cursor: not-allowed;
}

#fContainer {
    overflow: scroll;
}