{{!-- Navbar Container --}}
<nav id="home" class="navbar navbar-expand-lg navbar-info bg-white">
    {{!-- Navbar Brand --}}
    <a class="navbar-brand" href="/">
        {{!-- The QuickShare "Logo" --}}
        <b class="font-weight-bold">Quick</b>
        <i class="fa fa-share-alt" aria-hidden="true"></i>
        <b class="font-weight-bold text-success">Share</b>
    </a>

    {{!-- Collapse Button --}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown">
        {{!-- Hamburger Icon --}}
        <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- Collapsible Content --}}
    <div class="collapse navbar-collapse" id="navbarDropdown">

        {{!-- Navigation Links: --}}
        <ul class="navbar-nav mr-auto">
            {{!-- Navigation Shortcuts --}}
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#shortcuts" id="ShortcutMenu"
                    href="#shortcuts">Shortcuts</a>
            </li>

            {{!-- All Folders --}}
            <li id="AllDataSets" class="nav-item dropdown text-center">
                {{!-- Dropdown Button --}}
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Browse DataSets</a>
                {{!-- Dropdown Content Container --}}
                <div class="dropdown-menu text-center">
                    <h6 class="dropdown-header text-white bg-primary">
                        {{!-- Available DataSets --}}
                        <i class="fa fa-circle text-success" aria-hidden="true"></i> Online DataSets
                    </h6>
                    <div class="dropdown-divider"></div>
                    {{!-- Folder Collection Population --}}
                    {{!-- <a class="dropdown-item p-0" href="/mc2019"></a> --}}
                    <span id="AllFolders"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- IE Support Notice -->
<div style="display: none;" class="container-fluid" id="IEDetection">
    <div class="row">
        <div class="col-md-12 m-0 p-0">
            <div style="border-radius: 0% !important;" class="alert alert-warning alert-dismissible fade show m-0">
                <strong>
                    <i class="fas fa-exclamation-triangle"></i> GTM QuickShare Doesn't Support Internet Explorer.
                </strong>
                We recommend using a modern browser such as:
                <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a>,
                <a href="https://chrome.google.com/">Google Chrome</a>, or
                <a href="https://mozilla.org/firefox/">Firefox</a>.

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{!-- Sync Table (Datatable) --}}
<div id="dataTable" class="container mt-5">
    <div class="col-lg-12 col-md-12">

        {{!-- Sync Table (Breadcrumbs) --}}
        <div class="bc-icons-2">
            {{!-- Bread Directory --}}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb indigo lighten-4">
                    {{!-- Home --}}
                    <li class="breadcrumb-item"><a class="black-text" href="/">Home</a>
                        <i class="fas fa-angle-double-right mx-2"></i>
                    </li>
                    {{!-- Excel Macros --}}
                    <li class="breadcrumb-item"><a class="black-text" href="/">Excel Macros</a>
                        <i class="fas fa-angle-double-right mx-2"></i>
                    </li>
                    {{!-- Database Slot (Displays the name of the database slot) --}}
                    <li id="DBName" class="breadcrumb-item active">Database Not Found.</li>
                    <li id="SlotName" class="breadcrumb-item active"></li>
                </ol>
            </nav>
        </div>

        <div class="card">
            {{!-- Sync Table Heading --}}
            <div class="card-header bg-primary lighten-1 white-text font-weight-bold py-4">
                <h2>
                    {{!-- Data Folder --}}
                    <i class="fa fa-folder" aria-hidden="true"></i> <span id="foldName"> Empty Folder</span>

                    {{!-- Data Options --}}
                    <i style="cursor: pointer;" class="fa fa-cog float-right mt-1" aria-hidden="true"
                        data-toggle="modal" data-target="#dataOptions">
                        Data Options
                    </i>
                </h2>
            </div>
            {{!-- Sync Table Body --}}
            <div class="card-body">
                <table id="dataPopulation" class="table table-hover table-bordered" cellspacing="0" width="100%">
                    <thead>
                        {{!-- Sync Table Data Heading --}}
                        <tr class="text-success">
                            <th class="th-sm font-weight-bold">
                                <h4>File Name</h4>
                            </th>
                            <th class="th-sm font-weight-bold">
                                <h4>File Size</h4>
                            </th>
                            <th class="th-sm font-weight-bold">
                                <h4>Last Updated</h4>
                            </th>
                            <th class="th-sm font-weight-bold">
                                <h4>File Actions</h4>
                            </th>
                        </tr>
                    </thead>
                    {{!-- Sync Table Data Population --}}
                    <tbody id="dataPopulate">
                        {{!-- This is where table data comes through --}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Data Options Menu -->
    <div class="modal fade" id="dataOptions" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Data Options Menu Container -->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- Data Tabs -->
                <ul class="nav nav-tabs" id="myTab">
                    <li id="UploadForm" class="nav-item item-1">
                        <a class="nav-link active" data-toggle="tab" href="#fileUpload" role="tab"
                            aria-selected="true">Upload Files</a>
                    </li>
                    {{!-- <li class="nav-item item-2">
                        <a class="nav-link" data-toggle="tab" href="#dataFolders" role="tab" aria-selected="false">
                            <span id="tabFolders">All Folders</span>
                        </a>
                    </li> --}}
                </ul>
                <!-- Modal Title -->
                <div class="modal-header">
                    <h5 class="modal-title">Data Options</h5>
                </div>
                <div class="modal-body">
                    <!-- File Upload Progress -->
                    <div style="display: none;" class="progress">
                        <div id="uploadProgress" class="progress-bar progress-bar-striped bg-info" role="progressbar"
                            aria-valuenow="0">
                            <span id="uploader"></span>
                        </div>
                    </div>
                    <br>
                    <div class="tab-content" id="myTabContent">
                        <!-- Upload Files Page -->
                        <div class="tab-pane fade active show" id="fileUpload">
                            <form id="formSubmit" name="formSubmit">
                                <div class="tab-content" id="nav-tabContent">
                                    <div id="uploadProgress" class="progress-bar progress-bar-striped bg-info"
                                        role="progressbar" aria-valuenow="0">
                                        <span id="uploader"></span>
                                    </div>
                                    <span class="btn btn-primary btn-block btn-file waves-effect waves-light">
                                        <i class="fa fa-upload" name="fileBrowser" id="FileBrowser" aria-hidden="true">
                                            Upload File
                                        </i>
                                        <input id="fBrowser" type="file">
                                    </span>

                                    <div class="form-group mt-4">
                                        <label class="active"><i class="fa fa-file-o" aria-hidden="true"></i>File
                                            Location</label>
                                        <textarea id="fLink" name="fLink" class="form-control"
                                            placeholder="This field will become the download link for your file. You don't need to add anything to this field, it is an automatic process."
                                            rows="3"></textarea>
                                        <div class="md-form">
                                            <input type="text" autocomplete="off" maxlength="18" id="fName" name="fName"
                                                value=" " class="form-control">
                                            <label for="form1" class="active">File Name</label>
                                        </div>
                                        <div style="display: none;" class="md-form">
                                            <input type="text" autocomplete="off" maxlength="18" id="fDate" name="fDate"
                                                value=" " class="form-control" disabled="disabled">
                                            <label for="form1" class="active">Date Added</label>
                                        </div>
                                        <div style="display: none;" class="md-form">
                                            <input type="text" autocomplete="off" maxlength="18" id="fSize" name="fSize"
                                                value=" " class="form-control">
                                            <label for="form1" class="active">File Size</label>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                {{!-- Form Controls --}}
                <div class="modal-footer">
                    {{!-- Close Form --}}
                    <button type="button" class="btn btn-grey" id="CloseOptions" data-dismiss="modal">Close</button>
                    {{!-- Push File --}}
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Push File</button>
                    <!-- Lock Push Button Until Finished Uploading -->
                    <button style="display: none;" id="btnProcessing" class="btn btn-primary" type="button" disabled="">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>Please Wait</span>
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Shortcuts Display -->
<div class="modal fade" id="shortcuts" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {{!-- Modal Header --}}
            <div class="modal-header">
                <h5 class="modal-title">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- Shortcut Display Content --}}
                <div class="modal-body">
                    <p class="lead">Here is a list of all available shortcuts.</p>
                    {{!-- Data options + Browse Shortcut --}}
                    <div class="row">
                        <div class="col-md-12">
                            <kbd class="bg-primary">Shift + D = Data Options</kbd>
                            <br /> <br />
                            <kbd class="bg-primary">Shift + U = Upload/File Explorer</kbd>
                            <br /> <br />
                            <kbd class="bg-primary">Shift + P = Push File</kbd>
                            <br /> <br />
                            <kbd class="bg-primary">Shift + S = Shortcut Menu</kbd>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Close Modal --}}
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Got It!</button>
            </div>
        </div>