body {
    font-family: 'Open Sans', sans-serif;
}

.nav-item:hover {
    background-color: #eee;
}

#cloudStock {
    position: relative;
    top: 55px;
    width: 980px;
    height: 550px;
}

footer {
    position: relative;
    padding: 20px;
    width: 100%;
    bottom: 0;
    top: 10px;
}

#dropdownMenuButton {
    cursor: pointer;
    padding: 10px;
}

#btnScrollTop {
    position: fixed;
    float: left;
    z-index: 999;
    top: 10px;
}
